.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    
}

.DateTime {
    box-sizing: border-box;
    color: rgba(39, 33, 66, 0.4);
    display: list-item;
    font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 5px;
    text-align: left;
    text-size-adjust: 100%;
    width: 86px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.WindSpeed{
    box-sizing: border-box;
    color: rgba(39, 33, 66, 0.4);
    display: list-item;
    font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 5px;
    text-align: left;
    text-size-adjust: 100%;
    width: 86px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}